body{
    background-color: #EAFDFC;
}
h1{
    padding-bottom: 40px;
    padding-top: 30px;
    text-align: center;
    background-color: #BFEAF5;
    font-family: 'Raleway', sans-serif;
}
footer {
    text-align: center;
    padding: 3px;
    color: #BFEAF5;
  }